* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ::placeholder {
    font-style: italic;
  }
  body {
    background-color: #171514;
  }
  /* ========= The Navbar ======= */
  header {
    background-color: #1b1616;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    padding: 5px 2px 5px 0;
    width: 100%;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    overflow: hidden;
    width: 100%;
    align-content: center;
  }
  .collapse-navbar {
    position: relative;
    display: flex;
    flex-flow: wrap column;
    text-align: start;
    align-content: flex-start;
  }
  
  .logo-item {
    margin: auto 1% auto 1%;
  }
  
  .nav-link {
    color: #bba733;
    margin-left: 8px;
    text-decoration: none;
    padding-bottom: 5%;
  }
  .left-items {
    flex-grow: 1;
  }
  .btn-link {
    background-color: inherit;
    border: none;
    color: #bba733;
    font-size: 1em;
    margin-right: 8px;
    text-decoration: none;
    padding-bottom: 5%;
  }
  .nav-link:hover,
  .btn-link:hover {
    color: #ffd700;
  }
  .right-items button:last-of-type {
    margin-right: 10px;
  }
  .left-items a:first-of-type {
    margin-left: 10px;
  }
  .navbar-toggler-btn {
    background-color: inherit;
    border: none;
    color: gold;
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 2em;
    padding: 10px;
  }
  
  .logo-img {
    margin: auto 2% auto 2%;
    width: 200px;
  }
  /*============= MAIN CONTENT =============== */

@keyframes unlock {
    0% {
      left: 100px;
    }
    100% {
      left: -96px;
    }
  }
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% auto auto auto;
    width: 50%;
  }
  .key-box {
    position: relative;
    display: inline-flex;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    width: fit-content;
    animation-name: unlock;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: 5;
  }
  
  .lock-box {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 50px;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    width: fit-content;
  }
  .lock-img {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-3deg) rotateY(60deg)
      rotateZ(-5deg) translateX(1px) translateY(-20px) translateZ(6px) skewX(0deg)
      skewY(0deg);
  }
  .key-img {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-12deg) rotateY(12deg)
      rotateZ(45deg) translateX(-4px) translateY(-13px) translateZ(-3px)
      skewX(1deg) skewY(6deg);
  }
  .notice-header {
    color: #ffd700;
    display: flex;
    font-family: 'Courgette', cursive;
    font-size: 2.5em;
    font-style: italic;
    margin: 5% auto auto auto;
    text-transform: uppercase;
    width: fit-content;
  }
  
  /* =====MEDIA QUERIES ================ */
  /* for large tablets */
@media only screen and (min-width: 769px) and (max-width: 990px) {
    /*=== NAVBAR === */
    .navbar-nav :not(:first-child):not(:last-child) {
      display: none;
      
    }
  
    .navbar-toggler-btn{
      display: block;
      position: absolute;
      right: 15px;
      top: 10px;
    }
    .left-items {
      flex-grow: 0;
      margin-left: 10px;
    }
    .left-items a:last-of-type {
      margin-bottom: 10px;
    }
  
    .right-items {
      margin-left: 15px;
    }
    .right-items button:first-of-type {
      margin-top: 10px;
    }
    .right-items button:last-of-type {
      margin-bottom: 10px;
    }
    .nav-link,
    .btn-link {
      display: block;
    }
    
    
    
  }
  
  /* for smaller tablets*/
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .notice-header{
      font-size: 1.5em;;
    } 
    .img-container{
      margin-top: 3%;
    }
   
    /*=== NAVBAR === */
  .navbar-nav :not(:first-child):not(:last-child) {
    display: none;
   
  }

.navbar-toggler-btn{
    display: block;
  
  }
  .left-items {
    flex-grow: 0;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .right-items {
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .left-items a:last-of-type {
    margin-bottom: 10px;
  }
  /* .btn-link {
    margin-left: 15px;
  } */
  .nav-link,
  .btn-link {
    display: block;
  }
  }
  
  /* for cellphones */
  @media only screen and (max-width: 480px) {
    /*===========NAVBAR===============*/
    .navbar-nav :not(:first-child):not(:last-child) {
      display: none;
     
    }
  
  .navbar-toggler-btn{
      display: block;
    
    }
    .left-items {
      flex-grow: 0;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .left-items a:last-of-type {
      margin-bottom: 10px;
    }
    .right-items {
      margin-left: 15px;
    }
    .nav-link,
    .btn-link {
      display: block;
    }
    .notice-header{
      font-size: 1.5em;
    }
    .img-container{
      margin-top: 5%;
    }
    
    
  }